@model EntregaFinalPSP2024.Models.Role

@{
    ViewData["Title"] = "Detalles del Rol";
}

<div class="container mt-4">
    <h1 class="text-primary">Detalles del Rol</h1>
    <h4 class="text-secondary">Información del Rol</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-3 fw-bold">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>

    <div class="d-flex justify-content-start mt-4">
        <a class="btn btn-primary me-2" asp-action="Edit" asp-route-id="@Model?.Id">
            <i class="bi bi-pencil"></i> Editar
        </a>
        <a class="btn btn-secondary" asp-action="Index">
            <i class="bi bi-arrow-left"></i> Volver a la Lista
        </a>
    </div>
</div>
